<!DOCTYPE html>
<html lang="en">
    <head>
		<link rel="stylesheet" type="text/css" href="style.css">
		<script src="js/js_script.js" defer></script>
		<script src="js/vue_script.js" defer></script>
		<script src="https://vuejs.org/js/vue.js"></script>
        <title>Order burgers</title>
        <meta charset="utf-8"/>
    </head>
    <body>
	<main>
		<header>
			<h1 id = "heading">Välkommen till BIG SUPER HAPPY FUN FUN BURGERS</h1>
			<img src="http://resources.mynewsdesk.com/image/upload/c_limit,dpr_2.625,f_auto,h_700,q_auto,w_360/nvvnn1ejqmr5yktsncym.jpg" alt="Span" title="burgers" id="head_image">
		</header>
		<section class = "burgerSection">	
		<!--
			<div class="row">
			<div class="column">
				<div id="HB">
				</div>
			</div>
			<div class="column">
				<div id="BHB">
				</div>			
			</div>				
			<div class="column">
				<div id="BSHB">
				</div>			
			</div>
			<div class="column">
				<div id="BSHFFB">
				</div>			
			</div>
			<div class="column">
				<div id="BSPB">
				</div>			
			</div>
		-->
		
		<div id = "burgerBoxes" class = "row">
			<div v-for = "(burger, index) in menu" class = "column">
				<h3> {{burger.name}} </h3>
				<img :src = "burger.burgerPic" width = "200" height = "200">
				<ul>
					<li>
						{{burger.kCal}} kCal
					</li>
					
					<li>
						{{burger.description}}
					</li>
					<li>
						{{burger.allergies}}
					</li>
				</ul>	
			</div>
		</div>
		


		
		
		
 </div>
		
		</section>	
		<section class = "Order">
			<h3> This is where you provide necessary information</h3>

			<h4> Delivery information</h4>
			<p>
				<label for="fullname">Full name</label><br>
				<input type="text" id="fullname" name="fullname" required="required" placeholder="First- and last name" />
			</p>
			<p>
				<label for="mail">E-mail</label><br>
				<input type="email" id="email" name="mail" placeholder="E-mail address" />
			</p>
			<p>
				<label  for="street">Street</label><br>
				<input type="text" id="street" name="street" required="required" placeholder="Street name" />
			</p>
			<p>
				<label  for="house">House</label><br>
				<input type="number" id="house" name="house" required="required" placeholder="House number" />
			</p>
			<p>
				
				<input type="radio" name="gender" value="male"> Male<br>
				<input type="radio" name="gender" value="female"> Female<br>
				<input type="radio" name="gender" value="non-binary"> Non-binary<br>
				<input type="radio" name="gender" value="donotwishtoprovide" checked="checked"> Do not wish to provide
			</p>
			
			<p>			
				<label for="payment method">Payment method</label><br/>
				<select id="payment method" name="pay">
					<option selected="selected">Card</option>
					<option>Swish</option>
					<option>Pay-pal</option>
					<option>Cash</option>
				</select>				
			</p>
			<p>
			<button type="submit"><img src="https://cdna.artstation.com/p/assets/images/images/011/264/666/large/taniya-suslova-55.jpg?1528692421" width="25"/> Burger time</button>
			</p>
		</section>
	</main>
	<hr>
	<footer>©Copyright or something</footer>
    </body>
	
	
</html>