body {
    font-family: Arial;
	font-size: 110%
}

#Allergies {
	font-weight: bold;

}

.Burgers {
	color: #FFFFFF;
	background-color: #000000;
}

.Order {

}

button:hover {
    background-color: #C7C7C7;
	cursor: pointer;
}