body {
    font-family: Arial;
	font-size: 110%;
}

#Allergies {
	font-weight: bold;

}

.burgerSection {
	color: #FFFFFF;
	background-color: #000000;
	margin-left: 5%;
	margin-right: 5%;
	border-style: Dashed;
	border-width: 5px;
	padding: 3%;
	


}

.Order {
	margin-left: 5%;
	margin-right:5%;
	border-style: Dashed;
	border-color: #000000;
	border-width: 5px;
	padding: 5%;
}


button:hover {
    background-color: #C7C7C7;
	cursor: pointer;
}

button {
	margin-left: 2%;
}

header {
	height: 50vh;
	overflow: hidden;
}

h1 {
	position: absolute;
	z-index:3;
	padding-left: 12%;
	padding-top: 6%;
}

#head_image {
	opacity: 0.5;
	width: 100%;
	
}

 .box {
    background-color: #000000;
    color: #fff;
	text-align: center;
	margin: 0 auto;
 }

 
 .column {
  float: left;
  width: 20%;
  
  
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.table_wrapper{
	display: grid;
	background-color: #123123;
}
